$primaryColor:#3D1240;
$secondaryColor: purple;
$gold: rgb(215, 236, 19);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$margin-small: 1rem;
$margin-medium: 1.5rem;
$margin-large: 2rem;
